{% extends 'base.html' %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height:80vh;">

    <div class="card shadow-lg p-4" style="width:420px;border-radius:15px;">

        <h2 class="text-center mb-4">
            🔐 Iniciar Sesión
        </h2>

        {% if form.errors %}
        <div class="alert alert-danger">
            Usuario o contraseña incorrectos.
        </div>
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <div class="d-grid">

                <button class="btn btn-primary">
                    Ingresar
                </button>

            </div>

            <hr>

            <div class="text-center">

                ¿No tienes una cuenta?

                <br>

                <a href="{% url 'registro' %}" class="btn btn-outline-success mt-2">
                    Crear cuenta
                </a>

            </div>

        </form>

    </div>

</div>

{% endblock %}