{% extends 'base_auth.html' %}

{% block content %}

<h3 class="text-center fw-bold mb-4">
    <i class="bi bi-box-arrow-in-right text-primary"></i>
    Iniciar Sesión
</h3>

{% if form.errors %}
<div class="alert alert-danger text-center">
    Usuario o contraseña incorrectos.
</div>
{% endif %}

<form method="POST">

    {% csrf_token %}

    <div class="mb-3">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>

    <div class="mb-4">
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-lg">
            <i class="bi bi-box-arrow-in-right"></i>
            Ingresar
        </button>
    </div>

</form>

<hr>

<div class="text-center">

    <p class="text-muted">
        ¿No tienes una cuenta?
    </p>

    <a href="{% url 'registro' %}" class="btn btn-success">
        <i class="bi bi-person-plus-fill"></i>
        Crear cuenta
    </a>

</div>

{% endblock %}